:root {
  --color-blue: #0f33ff;
}

/*reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
  font-family: "Montserrat", sans-serif;
  /* max-width: 1300px; */
  margin: auto;
  /* width: 90%; */
  overflow: hidden;
  user-select: none;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/*header*/

main {
  height: 100vh;
  width: 100%;
  position: relative;
  perspective: 1500px;
}

.container {
  height: 100%;
  transition: transform 0.4s;
}

.container-shrink {
  transform: translateZ(1px) rotateY(45deg) scale(0.4) translate(-50%);
  outline: #0f33ff 20px solid;
}
.content-header {
  width: 1300px;
  max-width: 90%;
  margin: auto;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .content-header {
    position: relative;
  }
}

.return-to-main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  z-index: 1000;
  box-shadow: 2px 2px 12px 6px #000000;
}

.container.container-shrink .return-to-main {
  display: block;
}

header {
  height: 70px;
  position: relative;
  z-index: 100;
}

.container-header {
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: min-content;
}

.logo img {
  margin-right: 10px;
  height: 28px;
  width: 30px;
}

.logo h2 {
  text-transform: uppercase;
  font-size: 1rem;
  align-self: center;
}

.link-hire-us {
  background-color: var(--color-blue);
  text-transform: uppercase;
  padding: 0 0.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 30px;
  display: none;
}

.hamburger {
  height: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger::before,
.hamburger::after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: white;
}

.hamburger span {
  height: 2px;
  width: 15px;
  background-color: white;
}

.main-menu {
  color: white;
  font-size: 55px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  visibility: hidden;
  transition: visibility 0.1s;
}

.main-menu li {
  text-align: center;
  width: inherit;
  cursor: pointer;
  line-height: 80px;
  opacity: 0;
  transform: scale(0.8) translate(150px, 0);
}

.main-menu-active > li {
  opacity: 1;
  transform: scale(1) translate(0, 0);
  transition: transform 0.4s, opacity 0.4s;
}

.main-menu-active li:nth-child(1) {
  transition-delay: 0.15s;
}

.main-menu-active li:nth-child(2) {
  transition-delay: 0.2s;
}
.main-menu-active li:nth-child(3) {
  transition-delay: 0.25s;
}
.main-menu-active li:nth-child(4) {
  transition-delay: 0.3s;
}
.main-menu-active li:nth-child(5) {
  transition-delay: 0.35s;
}

.main-menu-active > li {
  transform: translateX(0);
}

.main-menu-active {
  visibility: visible;
}

.main-menu li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 10px;
  background-color: var(--color-blue);
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 0;
}

.is-active::before {
  opacity: 1 !important;
}

/*side list*/

@media screen and (min-width: 1150px) {
  .side-list::before {
    display: block !important;
  }
  .side-list {
    display: flex !important;
  }
}

.side-list::before {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: 50%;
  width: 1px;
  height: 120%;
  background-color: #252525;
  transform: translateY(-50%);
  z-index: 150;
}

.side-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  z-index: 10;
  font-size: 13px;
}

.side-list span {
  opacity: 0;
  width: 0px;
  display: block;
  position: absolute;
  left: 15px;
  top: 3px;
}

.side-list > li.side-list-is-active span {
  transition: opacity 1s;
}

.side-list li {
  cursor: pointer;
  position: relative;
}

.side-list li::before {
  font-size: 8px;
}

.side-list li:nth-child(1)::before {
  content: ".";
}

.side-list li:nth-child(2)::before {
  content: ".";
}

.side-list li:nth-child(3)::before {
  content: ".";
}

.side-list li:nth-child(4)::before {
  content: ".";
}

.side-list li:nth-child(5)::before {
  content: ".";
}

.side-list li::after {
  color: #252525;
  position: absolute;
  left: 10px;
  top: 4px;
}

.side-list li:nth-child(1)::after {
  content: "01";
}

.side-list li:nth-child(2)::after {
  content: "02";
}

.side-list li:nth-child(3)::after {
  content: "03";
}

.side-list li:nth-child(4)::after {
  content: "04";
}

.side-list li:nth-child(5)::after {
  content: "05";
}

.side-list li.side-list-is-active span {
  width: max-content;
  opacity: 1;
}

.side-list li.side-list-is-active::before {
  color: var(--color-blue);
}

.side-list li.side-list-is-active::after {
  color: white;
  position: absolute;
  margin: 0;
  left: -25px;
}

.main-content,
.content-contact,
.content-works {
  height: 100%;
}

#works,
#about,
#contact,
#hire-us,
#home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.is-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

/*home*/

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-home {
  max-width: 900px;
  position: relative;
  margin: auto;
  width: 100%;
}

#home h2 {
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
}

.img-astronaut {
  display: none;
}

.container-link-hire-us {
  position: relative;
  margin-top: 2rem;
  width: fit-content;
}

.link-hire-us-section-home {
  text-transform: uppercase;
  font-size: 14px;
  left: 15px;
  position: relative;
  z-index: 5;
}

.container-link-hire-us::after {
  cursor: pointer;
  content: "";
  width: 80px;
  height: 30px;
  background-color: var(--color-blue);
  position: absolute;
  z-index: 4;
  left: 30px;
  top: -5px;
  transition: all 0.5s;
}

.container-link-hire-us svg {
  cursor: pointer;
  width: 15px;
  position: relative;
  z-index: 6;
  left: 20px;
}

.container-link-hire-us:hover::after {
  left: 0;
  width: 110px;
}

.line {
  position: relative;
  left: -12px;
  right: 0;
  height: 2px;
  background-color: #282828;
  margin-top: 4rem;
}

.line-blue {
  position: absolute;
  left: 12px;
  top: 0;
  height: 4px;
  width: 30px;
  background-color: var(--color-blue);
}

.content-text-home {
  margin-top: 2rem;
}

.content-text-home span {
  text-transform: uppercase;
}

.content-text-home p {
  margin-top: 1rem;
}

.content-text-home {
  color: #282828;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.description-home:hover {
  color: white;
}

.description-home a {
  display: block;
  transition: color 0.5s;
}

@media screen and (min-width: 600px) {
  .img-astronaut {
    display: block;
    width: 300px;
    height: auto;
    position: absolute;
    top: -22px;
    right: 15px;
  }

  #home h2 {
    font-size: 44px;
  }
}

@media screen and (min-width: 770px) {
  .img-astronaut {
    width: 400px;
    top: -95px;
  }

  #home h2 {
    font-size: 50px;
  }

  .content-text-home {
    flex-direction: row;
  }

  .description-home p {
    line-height: 1.2;
  }
}

@media screen and (min-width: 820px) {
  .img-astronaut {
    width: 420px;
    top: -70px;
  }

  #home h2 {
    font-size: 65px;
  }
}
/*about*/

.main-content li {
  opacity: 0;
}

.content-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  height: 100%;
}

.content-about .link-career {
  text-align: left;
  width: fit-content;
}

#about h2 {
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem;
  position: relative;
  text-align: left;
}

.content-about::before {
  position: absolute;
  content: "";
  border: 5px solid var(--color-blue);
  left: 166px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(170deg);
  top: 280px;
}

.content-about::after {
  position: absolute;
  content: "";
  background-color: var(--color-blue);
  top: 320px;
  left: 314px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}

#about h2::before {
  top: 52px;
  left: 232px;
  position: absolute;
  content: "";
  background-color: var(--color-blue);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#about h2::after {
  bottom: 0;
  position: absolute;
  content: "";
  background-color: var(--color-blue);
  width: 10px;
  height: 10px;
  left: 204px;
}

.content-about a {
  text-transform: uppercase;
}

.content-about svg {
  width: 15px;
  fill: white;
  vertical-align: middle;
  margin-left: 5px;
  transition: all 0.2s;
}

.content-about a:hover svg {
  margin-left: 10px;
}

.img-section-about {
  display: none;
}

.gallery-about {
  margin-top: 4rem;
  display: none;
  max-width: 650px;
  justify-content: space-between;
  position: relative;
  z-index: 6;
}

.img-gallery {
  width: 170px;
  height: 90px;
  border: 10px solid var(--color-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-gallery span {
  z-index: 6;
  text-transform: uppercase;
  position: relative;
  left: 20px;
  top: -10px;
  transition: top 0.3s;
}

.item-gallery:hover span {
  top: 3px;
}

.item-gallery:nth-child(1) .img-gallery {
  background-image: url("../images/about-winners.jpg");
}
.item-gallery:nth-child(2) .img-gallery {
  background-image: url("../images/about-philosophy.jpg");
}
.item-gallery:nth-child(3) .img-gallery {
  background-image: url("../images/about-history.jpg");
}

@media screen and (min-width: 600px) {
  .img-section-about {
    display: block;
    position: absolute;
    right: 0;
    top: 120px;
    width: 280px;
    height: auto;
    z-index: 5;
  }

  .gallery-about {
    display: flex;
  }

  .content-about::before {
    top: 185px;
  }

  .content-about::after {
    top: 230px;
  }
}

@media screen and (min-width: 800px) {
  .img-section-about {
    width: 350px;
  }
  #about h2 {
    font-size: 70px;
  }

  .content-about::before {
    left: 205px;
    top: 145px;
  }

  .content-about::after {
    left: 405px;
  }

  #about h2::before {
    top: 61px;
    left: 293px;
    width: 30px;
    height: 30px;
  }

  #about h2::after {
    left: 260px;
  }

  .link-hire-us {
    display: block;
  }
}

/*Page contact*/

.content-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/contact-visual.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-contact {
  padding: 2.5rem;
  background-color: #0c0c0c;
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 15px 15px 15px black;
}

.card-contact p {
  margin-bottom: 1rem;
  text-align: center;
}

.link-contact a {
  padding: 0.7rem 1.9rem;
  display: block;
  width: 170px;
  margin: 0 auto 15px auto;
  text-align: center;
}

.link-contact a:nth-child(1) {
  background-color: #1769ff;
}

.link-contact a:nth-child(2) {
  background-color: #ea4c89;
}

.link-contact a:nth-child(3) {
  background-color: var(--color-blue);
}

@media screen and (min-width: 780px) {
  .card-contact {
    left: auto;
    right: 20%;
    transform: translateX(0);
  }
}

/*page hire-us*/
.content-hire-us {
  max-width: 900px;
  margin: auto;
}

#hire-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hire-us h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}

.container-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.container-checkbox div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-checkbox svg {
  width: 0;
}

.container-checkbox label {
  border: 2px solid white;
  text-transform: capitalize;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 13px;
  width: 150px;
  line-height: 50px;
}

@media screen and (min-width: 500px) {
  .container-checkbox label {
    width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .container-checkbox {
    flex-direction: column;
    gap: 0;
  }

  .container-checkbox div {
    flex-direction: row;
  }

  .container-checkbox div:nth-child(2) {
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }

  .container-checkbox label {
    margin-right: 2rem;
  }

  .container-checkbox label:last-child {
    margin-right: 0;
  }
}

.container-checkbox label svg {
  font-size: 15px;
  vertical-align: middle;
  transition: all 0.5s;
}

.container-checkbox label:hover {
  cursor: pointer;
}

.container-checkbox input {
  display: none;
}

.container-checkbox input[type="checkbox"]:checked + label {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.container-checkbox input[type="checkbox"]:checked + label svg {
  width: 15px;
  margin-right: 5px;
}

.input-name-email {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  gap: 2rem;
}

.input-name-email .input-group {
  position: relative;
}

.input-name-email input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  font-size: 24px;
  width: 100%;
}

.input-name-email label {
  position: absolute;
  top: -5px;
  left: 0;
  transition: all 0.3s;
  font-size: 24px;
  cursor: text;
}

.input-name-email input:focus + label,
.input-name-email input:not(:placeholder-shown) + label {
  top: -30px;
  cursor: auto;
  font-size: 15px;
}

#hire-us input[type="submit"] {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 0;
  font-size: 15px;
  background-color: var(--color-blue);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

#hire-us .input-group:last-child {
  max-width: 400px;
  margin: auto;
}

/*page works*/

.content-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.content-works h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 3rem;
}

.carousel {
  position: relative;
}

.items-carousel {
  transition: opacity 0.8s;
  width: 100%;
}

.content-text-carousel a {
  display: block;
  font-size: 14px;
}

.content-text-carousel :nth-child(1) {
  margin: 1rem 0;
  text-transform: uppercase;
}

.item-carousel {
  display: none;
}

.item-right,
.item-left {
  position: absolute;
  display: none;
  top: 45%;
  transform: translateY(-50%);
}

.item-left {
  left: 65px;
}

.item-right {
  right: 65px;
}

.item-left .img-carousel,
.item-right .img-carousel {
  width: 90px;
  height: 90px;
}

.item-left .description,
.item-right .description {
  display: none;
}

.item-left .content-text-carousel a:first-of-type,
.item-right .content-text-carousel a:first-of-type {
  color: #858585;
}

.item-carousel-active {
  display: block;
}

.img-carousel img {
  width: 100%;
}
.img-carousel {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

#right-carousel,
#left-carousel {
  cursor: pointer;
  position: absolute;
  padding: 0.7rem;
  background-color: #282828;
  box-sizing: content-box;
  border-radius: 50%;
  font-size: 25px;
  top: 25%;
  z-index: 3;
}

#right-carousel {
  right: 0;
}

#left-carousel {
  left: 0;
}

@media screen and (min-width: 650px) {
  .item-right,
  .item-left {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .item-left .img-carousel,
  .item-right .img-carousel {
    width: 180px;
    height: 180px;
  }

  .item-right,
  .item-left {
    width: 180px;
  }

  .item-carousel-active .img-carousel {
    width: 240px;
    height: 240px;
  }

  #right-carousel,
  #left-carousel {
    top: 30%;
  }
}
